.centered-icon {
    color: inherit;
    font-size: 100px
}

@media (min-width:480px) {
    .centered-icon {
        font-size: calc(20.968vw + -.64516px)
    }
}

@media (min-width:1100px) {
    .centered-icon {
        font-size: 230px
    }
}

.link {
    text-decoration: none
}

.link,
.link_primary {
    color: inherit
}

.container {
    display: flex;
    flex-direction: row;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.container__inline-flex {
    display: inline-flex
}

.container__square {
    width: 75%;
    display: inline-block;
    position: relative
}

.container__square:after {
    padding-top: 100%;
    display: block;
    content: ""
}

.container_column {
    display: flex;
    flex-direction: column!important
}

.container__absolute {
    bottom: 0
}

.container__absolute,
.container__absolute-top {
    position: absolute;
    opacity: inherit;
    top: 0;
    z-index: 1
}

.container__absolute-right {
    position: absolute;
    opacity: inherit;
    top: 0;
    right: 0;
    bottom: 0
}

.container__absolute-left {
    position: absolute;
    opacity: inherit;
    top: 0;
    left: 0;
    bottom: 0
}

.container__absolute_skewed,
.container_skewed {
    -moz-transform: skewX(-4deg);
    -ms-transform: skewX(-4deg);
    -o-transform: skewX(-4deg);
    -webkit-transform: skewX(-4deg);
    transform: skewX(-4deg);
    transform-origin: top
}

.container_cursor-pointer {
    cursor: pointer
}

.container_theme-primary1 {
    background: var(--primary-color1);
    color: var(--primary-color2)
}

.container_theme-primary2 {
    background: var(--primary-color2);
    color: var(--primary-color1)
}

.container_theme-secondary1 {
    background: var(--primary-color1);
    color: var(--secondary-color1)
}

.container_theme-secondary2 {
    background: var(--primary-color2);
    color: var(--secondary-color1)
}

.container_theme-secondary3 {
    color: var(--primary-color2);
    background: var(--secondary-color2)
}

.container_theme-secondary4 {
    color: var(--primary-color1);
    background: var(--secondary-color2)
}

.header {
    width: 100%;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    text-align: center
}

.back-to-menu-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 50px
}

@media (min-width:480px) {
    .back-to-menu-btn {
        width: calc(3.226vw + 14.51613px);
        height: calc(4.839vw + 26.77419px)
    }
}

@media (min-width:1100px) {
    .back-to-menu-btn {
        width: 50px;
        height: 80px
    }
}

.timer {
    color: var(--success-color);
    font-size: 20px
}

.timer_red {
    color: var(--danger-color)
}

@media (min-width:480px) {
    .timer {
        font-size: calc(6.452vw + -10.96774px)
    }
}

@media (min-width:1100px) {
    .timer {
        font-size: 60px
    }
}

.timer_answer {
    position: absolute;
    top: 60px;
    left: -60px;
    font-size: 50px;
    color: var(--primary-color1)
}

@media (min-width:480px) {
    .timer_answer {
        font-size: calc(16.129vw + -27.41935px);
        left: calc(-19.355vw + 32.90323px)
    }
}

@media (min-width:1100px) {
    .timer_answer {
        font-size: 150px;
        left: -180px
    }
}

.custom-file {
    opacity: .9;
    color: var(--primary-color1)
}

.custom-file__input {
    position: relative;
    z-index: 2;
    width: 50px;
    height: 36px;
    cursor: pointer;
    opacity: 0
}

.custom-file__label {
    position: absolute;
    top: -2px;
    left: 32%;
    z-index: 1;
    padding: .375rem .75rem
}

.avatar {
    width: 90px;
    height: 90px;
    -moz-border-radius: 120px;
    -webkit-border-radius: 120px;
    border-radius: 120px;
    margin-bottom: 10px;
    background: inherit;
    display: flex;
    border: .1px solid var(--success-color);
    transition: all .75s ease-in-out
}

.container_skewed .avatar {
    -moz-transform: skewX(4deg);
    -ms-transform: skewX(4deg);
    -o-transform: skewX(4deg);
    -webkit-transform: skewX(4deg);
    transform: skewX(4deg);
    transform-origin: top
}

@media (min-width:480px) {
    .avatar {
        width: calc(20.968vw + -10.64516px);
        height: calc(20.968vw + -10.64516px)
    }
}

@media (min-width:1100px) {
    .avatar {
        width: 160px;
        height: 160px
    }
}

.avatar_border-weighty {
    border-width: 4px;
    border-style: solid;
    border-color: var(--success-color)!important
}

@media (min-width:480px) {
    .avatar_border-weighty {
        border-width: calc(.645vw + .90323px)
    }
}

@media (min-width:1100px) {
    .avatar_border-weighty {
        border-width: 8px
    }
}

.avatar__choose-photo {
    position: absolute;
    top: 75%;
    right: 0;
    left: 0;
    text-align: center;
    color: var(--secondary-color1);
    background: inherit;
    mask: -moz-linear-gradient(0deg, #000, rgba(0, 0, 0, .3));
    mask: -ms-linear-gradient(0deg, #000, rgba(0, 0, 0, .3));
    mask: -o-linear-gradient(0deg, #000, rgba(0, 0, 0, .3));
    mask: -webkit-linear-gradient(0deg, #000, rgba(0, 0, 0, .3));
    mask: linear-gradient(0deg, #000, rgba(0, 0, 0, .3))
}

.avatar__close-edit {
    position: absolute;
    top: 0;
    right: 0
}

.avatar_profile {
    width: 90px;
    height: 90px;
    margin: 10px 0 10px 10px;
    -moz-border-radius: 110px;
    -webkit-border-radius: 110px;
    border-radius: 110px;
    overflow: hidden
}

@media (min-width:480px) {
    .avatar_profile {
        width: calc(11.29vw + 35.80645px);
        height: calc(11.29vw + 35.80645px);
        margin-top: calc(-3.226vw + 25.48387px)
    }
}

@media (min-width:1100px) {
    .avatar_profile {
        width: 160px;
        height: 160px;
        margin-top: -10px
    }
}

.avatar__edit-photo {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 90px;
    height: 90px
}

@media (min-width:480px) {
    .avatar__edit-photo {
        width: calc(11.29vw + 35.80645px);
        height: calc(11.29vw + 35.80645px)
    }
}

@media (min-width:1100px) {
    .avatar__edit-photo {
        width: 160px;
        height: 160px
    }
}

.avatar__upload-icon {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-border-radius: 120px;
    -webkit-border-radius: 120px;
    border-radius: 120px
}

.game-board__cell {
    width: 12%;
    height: 12%;
    min-width: 12%;
    min-height: 12%;
    box-sizing: border-box;
    transition: all .75s ease-in-out;
    cursor: pointer;
    padding: 3px;
    border-radius: 3px
}

@media (min-width:480px) {
    .game-board__cell {
        padding: calc(1.613vw + -4.74194px);
        border-radius: calc(.806vw + -.87097px)
    }
}

@media (min-width:1100px) {
    .game-board__cell {
        padding: 13px;
        border-radius: 8px
    }
}

.game-board__cell_min-size {
    width: 25px;
    height: 25px;
    padding: 4px
}

@media (min-width:480px) {
    .game-board__cell_min-size {
        width: calc(2.419vw + 13.3871px);
        height: calc(2.419vw + 13.3871px);
        padding: calc(.645vw + .90323px)
    }
}

@media (min-width:1100px) {
    .game-board__cell_min-size {
        width: 40px;
        height: 40px;
        padding: 8px
    }
}

.pack__cell {
    width: 24%;
    height: 32%;
    color: var(--secondary-color2);
    text-align: center;
    padding: 1.6px 6px
}

@media (min-width:480px) {
    .pack__cell {
        padding: calc(1.677vw + -6.45161px) calc(1.613vw + -1.74194px)
    }
}

@media (min-width:1100px) {
    .pack__cell {
        padding: 12px 16px
    }
}

.pack__cell img {
    width: 100%;
    margin-bottom: .5rem
}

.pack__cell__text {
    font-size: 6px
}

@media (min-width:480px) {
    .pack__cell__text {
        font-size: calc(1.29vw + -.19355px)
    }
}

@media (min-width:1100px) {
    .pack__cell__text {
        font-size: 14px
    }
}

@keyframes changeBoxShadow {
    0% {
        box-shadow: 0 0 10px #0c5460
    }
    to {
        box-shadow: none
    }
}

.game-board__cell_active {
    cursor: pointer;
    transition: transfrom .25s;
    animation-duration: .4s;
    animation-name: changeBoxShadow;
    animation-iteration-count: infinite;
    animation-direction: alternate
}

.game-board__cell_active:hover {
    transform: translate(1.5px, 1.5px)
}

.game-board__cell_failed_2 {
    background: #d42013;
    border-color: #d42013!important;
    border-radius: 0
}

.game-board__cell_failed_1 {
    background: #d4503f;
    border-color: #d4503f!important;
    border-radius: 0
}

.game-board__cell_answered_2 {
    background: #399a3d;
    border-color: #399a3d!important;
    border-radius: 0
}

.game-board__cell_answered_1 {
    background: #21d229;
    border-color: #21d229!important;
    border-radius: 0
}

.game-board {
    width: 100%;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.packs-section__item {
    flex-wrap: wrap;
    margin-right: 2px
}

@media (min-width:480px) {
    .packs-section__item {
        margin-right: calc(1.29vw + -4.19355px)
    }
}

@media (min-width:1100px) {
    .packs-section__item {
        margin-right: 2px
    }
}

.packs-section__icon {
    opacity: 1
}

.packs-section__item__text {
    text-align: center;
    margin-left: .5em;
    font-size: 9px
}

@media (min-width:480px) {
    .packs-section__item__text {
        font-size: calc(1.129vw + 3.58065px)
    }
}

@media (min-width:1100px) {
    .packs-section__item__text {
        font-size: 16px
    }
}

.packs-section {
    bottom: 10px;
    left: 7%;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 30px hsla(0, 0%, 61.2%, .7);
    z-index: 1
}

.packs-section,
.packs-section__icon {
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: var(--secondary-color2);
    border-radius: 20px;
    transition: all 1s;
    font-size: 12px
}

.packs-section:hover {
    width: 90%;
    left: 5%;
    padding: 0 10px;
    justify-content: space-between
}

@media (min-width:480px) {
    .packs-section,
    .packs-section__icon {
        width: calc(11.29vw + 25.80645px);
        height: calc(3.226vw + 24.51613px);
        border-radius: calc(3.226vw + 4.51613px);
        font-size: calc(1.29vw + 5.80645px)
    }
    .packs-section:hover {
        width: calc(-1.613vw + 97.74194%);
        left: calc(.806vw + 1.12903%);
        padding: 0 calc(4.839vw + -13.22581px)
    }
}

@media (min-width:1100px) {
    .packs-section,
    .packs-section__icon {
        width: 150px;
        height: 60px;
        border-radius: 40px;
        font-size: 20px
    }
    .packs-section:hover {
        width: 80%;
        left: 10%;
        padding: 0 40px
    }
}

.answer {
    padding: 5px;
    border-radius: 2px;
    font-size: 12px;
    height: 60px;
    width: 48.5%;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: .8em;
    transition: all .25s cubic-bezier(.18, .89, .32, 1.28)
}

.answer:hover {
    transform: translate(.4rem, .4rem)
}

@media (min-width:480px) {
    .answer {
        font-size: calc(.968vw + 7.35484px);
        height: calc(6.452vw + 29.03226px)
    }
}

@media (min-width:1100px) {
    .answer {
        font-size: 18px;
        height: 100px
    }
}

.answer_failed {
    background: #d42013!important
}

.answer_failed,
.answer_success {
    color: var(--secondary-color2)!important
}

.answer_success {
    background: #399a3d!important
}

.answer-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.modal {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    overflow: auto;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.modal:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, .6);
    -moz-animation: opacity .2s ease-in-out forwards;
    -o-animation: opacity .2s ease-in-out forwards;
    -webkit-animation: opacity .2s ease-in-out forwards;
    animation: opacity .2s ease-in-out forwards
}

@-webkit-keyframes opacity {
    0% {
        -moz-opacity: 0;
        opacity: 0
    }
    to {
        -moz-opacity: .6;
        opacity: .6
    }
}

@-moz-keyframes opacity {
    0% {
        -moz-opacity: 0;
        opacity: 0
    }
    to {
        -moz-opacity: .6;
        opacity: .6
    }
}

@-ms-keyframes opacity {
.modal:after 0% {
    -moz-opacity: 0;
    opacity: 0
}
.modal:after to {
    -moz-opacity: .6;
    opacity: .6
}
}

@keyframes opacity {
    0% {
        -moz-opacity: 0;
        opacity: 0
    }
    to {
        -moz-opacity: .6;
        opacity: .6
    }
}

.modal__content {
    position: relative;
    min-height: 110px;
    min-width: 200px;
    padding: 10px 15px;
    color: var(--secondary-color1);
    z-index: 4
}

@media (min-width:480px) {
    .modal__content {
        min-height: calc(14.516vw + 40.32258px);
        padding: calc(1.613vw + 2.25806px) calc(2.419vw + 3.3871px)
    }
}

@media (min-width:1100px) {
    .modal__content {
        min-height: 200px;
        padding: 20px 30px
    }
}

.modal__close {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    outline: none;
    cursor: pointer;
    width: 50px;
    margin-right: -50px;
    border: none;
    -moz-border-radius: none;
    -webkit-border-radius: none;
    border-radius: none
}

.modal__body {
    width: 100%;
    border-radius: 2px
}

.question {
    text-align: center;
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 1em
}

@media (min-width:480px) {
    .question {
        font-size: calc(2.258vw + 3.16129px)
    }
}

@media (min-width:1100px) {
    .question {
        font-size: 28px
    }
}

.question_big {
    font-size: 22px;
    margin-bottom: .9em
}

@media (min-width:480px) {
    .question_big {
        font-size: calc(4.516vw + .32258px)
    }
}

@media (min-width:1100px) {
    .question_big {
        font-size: 50px
    }
}

.oval__speech {
    top: -110px;
    left: -120px;
    margin: 1em auto 60px
}

.oval__speech:before {
    left: 81px;
    width: 25px;
    border-color: var(--primary-color2);
    border-style: solid;
    border-width: 0 3px 3px 0;
    margin-right: -10px;
    background: var(--secondary-color2);
    clip-path: polygon(100% 100%, 0 100%, 0 92%, 43% 56%, 46% 32%, 49% 0, 100% 0);
    border-bottom-right-radius: 80px 50px
}

.oval__speech:after,
.oval__speech:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -18px;
    height: 15px;
    display: block;
    transform: rotateY(180deg)
}

.oval__speech:after {
    left: 93px;
    width: 10px;
    border-color: var(--primary-color2);
    border-style: solid;
    border-width: 0 3px 3px 0;
    margin-right: 49px;
    background: transparent;
    border-bottom-right-radius: 40px 50px
}

@media (min-width:480px) {
    .oval__speech {
        top: calc(-16.129vw + -32.58065px);
        left: calc(-24.194vw + -3.87097px)
    }
    .oval__speech:before {
        width: calc(4.032vw + 5.64516px);
        height: calc(2.419vw + 3.3871px);
        left: calc(15.968vw + 4.35484px);
        bottom: calc(-2.903vw + -4.06452px)
    }
    .oval__speech:after,
    .oval__speech:before {
        border-right-width: calc(.484vw + .67742px);
        border-bottom-width: calc(.484vw + .67742px)
    }
    .oval__speech:after {
        width: calc(3.226vw + -5.48387px);
        height: calc(2.097vw + 4.93548px);
        left: calc(17.903vw + 7.06452px);
        bottom: calc(-2.581vw + -5.6129px)
    }
}

@media (min-width:1100px) {
    .oval__speech {
        top: -210px;
        left: -270px
    }
    .oval__speech:before {
        width: 50px;
        height: 30px;
        bottom: -36px;
        left: 180px
    }
    .oval__speech:after,
    .oval__speech:before {
        border-right-width: 6px;
        border-bottom-width: 6px
    }
    .oval__speech:after {
        width: 30px;
        height: 28px;
        bottom: -34px;
        left: 204px
    }
}

.oval__speech__text:before {
    bottom: -18px;
    width: 5px;
    margin-right: -9%;
    background: var(--primary-color2);
    border-radius: 10px
}

.oval__speech__text:after,
.oval__speech__text:before {
    content: "";
    position: absolute;
    z-index: 1;
    right: 59px;
    height: 3px
}

.oval__speech__text:after {
    bottom: -1px;
    width: 12px;
    background: var(--secondary-color2)
}

@media (min-width:480px) {
    .oval__speech__text:before {
        bottom: calc(-2.903vw + -4.06452px);
        right: calc(11.774vw + 2.48387px);
        width: calc(.484vw + 2.67742px);
        height: calc(.484vw + .67742px)
    }
    .oval__speech__text:after {
        bottom: calc(-.484vw + 1.32258px);
        right: calc(12.258vw + .16129px);
        width: calc(1.774vw + 3.48387px);
        height: calc(.484vw + .67742px)
    }
}

@media (min-width:1100px) {
    .oval__speech__text:before {
        bottom: -36px;
        right: 132px;
        width: 8px;
        height: 6px
    }
    .oval__speech__text:after {
        bottom: -4px;
        right: 135px;
        width: 23px;
        height: 6px
    }
}

.oval__text {
    font-size: 10px
}

@media (min-width:480px) {
    .oval__text {
        font-size: calc(1.613vw + 2.25806px)
    }
}

@media (min-width:1100px) {
    .oval__text {
        font-size: 20px
    }
}

.oval {
    position: absolute;
    display: flex;
    opacity: 0;
    z-index: 3;
    width: 135px;
    height: 20px;
    text-align: center;
    padding: 35px 10px;
    border: 4px solid var(--primary-color2);
    color: #333;
    background: var(--secondary-color2);
    border-radius: 240px/140px
}

@media (min-width:480px) {
    .oval {
        width: calc(26.613vw + 7.25806px);
        height: calc(12.903vw + -41.93548px);
        padding: calc(2.419vw + 23.3871px) calc(1.613vw + 2.25806px);
        border-width: calc(.484vw + 1.67742px)
    }
}

@media (min-width:1100px) {
    .oval {
        width: 300px;
        height: 100px;
        padding: 50px 20px;
        border-width: 7px
    }
}

.oval__thought {
    top: -110px;
    left: -135px;
    margin: 1em auto 80px
}

.oval__thought:before {
    bottom: -14%;
    left: 60%;
    width: 25px;
    height: 25px;
    border: 3px solid var(--primary-color2);
    border-radius: 50px
}

.oval__thought:after,
.oval__thought:before {
    content: "";
    position: absolute;
    z-index: 10;
    background: var(--secondary-color2);
    display: block
}

.oval__thought:after {
    bottom: -35px;
    right: 22px;
    width: 15px;
    height: 15px;
    border: 3px solid var(--primary-color2);
    border-radius: 30px
}

@media (min-width:480px) {
    .oval__thought {
        top: calc(-19.355vw + -17.09677px);
        left: calc(-26.613vw + -7.25806px)
    }
    .oval__thought:before {
        width: calc(4.032vw + 5.64516px);
        height: calc(4.032vw + 5.64516px);
        border-width: calc(.484vw + .67742px)
    }
    .oval__thought:after {
        bottom: calc(-6.452vw + -4.03226px);
        right: calc(5.323vw + -3.54839px);
        width: calc(2.419vw + 3.3871px);
        height: calc(2.419vw + 3.3871px);
        border-width: calc(.484vw + .67742px)
    }
}

@media (min-width:1100px) {
    .oval__thought {
        top: -230px;
        left: -300px
    }
    .oval__thought:before {
        width: 50px;
        height: 50px;
        border-width: 6px
    }
    .oval__thought:after {
        bottom: -75px;
        right: 55px;
        width: 30px;
        height: 30px;
        border-width: 6px
    }
}

.gopher-modal {
    position: absolute;
    top: 48%;
    left: 56%;
    z-index: 3
}

.gopher {
    position: relative;
    z-index: 4
}

.gopher__img {
    width: 60px
}

@media (min-width:480px) {
    .gopher__img {
        width: calc(12.903vw + -1.93548px)
    }
}

@media (min-width:1100px) {
    .gopher__img {
        width: 140px
    }
}

.gopher__eyes {
    position: absolute;
    top: -1px;
    left: 9px;
    opacity: 1;
    z-index: 2;
    width: 34px;
    height: 30px;
    display: block;
    margin: 0 auto;
    transition: opacity .2s ease-in-out .3s, left .3s ease-in-out 0s
}

@media (min-width:480px) {
    .gopher__eyes {
        top: calc(-.323vw + .54839px);
        left: calc(2.258vw + -1.83871px);
        width: calc(7.419vw + -1.6129px);
        height: calc(6.452vw + -.96774px)
    }
}

@media (min-width:1100px) {
    .gopher__eyes {
        top: -3px;
        left: 23px;
        width: 80px;
        height: 70px
    }
}

.btn {
    border: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 40px;
    padding: 0 10px!important;
    font-weight: 600;
    background-color: var(--secondary-color1);
    cursor: pointer;
    width: fit-content;
    color: #fff;
    overflow: hidden
}

.btn:hover {
    background: -moz-linear-gradient(90deg, var(--accent-color), var(--accent-color) 50%, var(--secondary-color1) calc(50% + 1px));
    background: -ms-linear-gradient(90deg, var(--accent-color), var(--accent-color) 50%, var(--secondary-color1) calc(50% + 1px));
    background: -o-linear-gradient(90deg, var(--accent-color), var(--accent-color) 50%, var(--secondary-color1) calc(50% + 1px));
    background: -webkit-linear-gradient(90deg, var(--accent-color), var(--accent-color) 50%, var(--secondary-color1) calc(50% + 1px));
    background: linear-gradient(90deg, var(--accent-color), var(--accent-color) 50%, var(--secondary-color1) calc(50% + 1px));
    -moz-background-size: 200% 100%;
    -o-background-size: 200% 100%;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%;
    background-position: 100% 0;
    -moz-animation: background .3s ease-out forwards;
    -o-animation: background .3s ease-out forwards;
    -webkit-animation: background .3s ease-out forwards;
    animation: background .3s ease-out forwards
}

@media (max-width:650px) {
    .btn {
        height: 35px
    }
}

@media (min-width:480px) {
    .btn {
        padding: 0 calc(3.226vw + -5.48387px)
    }
}

@media (min-width:1100px) {
    .btn {
        padding: 0 30px!important
    }
}

.btn_primary {
    background: var(--primary-color1);
    color: var(--primary-color2)
}

.btn_primary:hover {
    background: -moz-linear-gradient(90deg, var(--accent-color), var(--accent-color) 50%, var(--primary-color1) calc(50% + 1px));
    background: -ms-linear-gradient(90deg, var(--accent-color), var(--accent-color) 50%, var(--primary-color1) calc(50% + 1px));
    background: -o-linear-gradient(90deg, var(--accent-color), var(--accent-color) 50%, var(--primary-color1) calc(50% + 1px));
    background: -webkit-linear-gradient(90deg, var(--accent-color), var(--accent-color) 50%, var(--primary-color1) calc(50% + 1px));
    background: linear-gradient(90deg, var(--accent-color), var(--accent-color) 50%, var(--primary-color1) calc(50% + 1px));
    -moz-background-size: 200% 100%;
    -o-background-size: 200% 100%;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%;
    background-position: 100% 0;
    -moz-animation: background .3s ease-out forwards;
    -o-animation: background .3s ease-out forwards;
    -webkit-animation: background .3s ease-out forwards;
    animation: background .3s ease-out forwards
}

.btn_primary2 {
    background: var(--primary-color2);
    color: var(--primary-color1)
}

.btn_primary2:hover {
    background: -moz-linear-gradient(90deg, var(--accent-color), var(--accent-color) 50%, var(--primary-color2) calc(50% + 1px));
    background: -ms-linear-gradient(90deg, var(--accent-color), var(--accent-color) 50%, var(--primary-color2) calc(50% + 1px));
    background: -o-linear-gradient(90deg, var(--accent-color), var(--accent-color) 50%, var(--primary-color2) calc(50% + 1px));
    background: -webkit-linear-gradient(90deg, var(--accent-color), var(--accent-color) 50%, var(--primary-color2) calc(50% + 1px));
    background: linear-gradient(90deg, var(--accent-color), var(--accent-color) 50%, var(--primary-color2) calc(50% + 1px));
    -moz-background-size: 200% 100%;
    -o-background-size: 200% 100%;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%;
    background-position: 100% 0;
    -moz-animation: background .3s ease-out forwards;
    -o-animation: background .3s ease-out forwards;
    -webkit-animation: background .3s ease-out forwards;
    animation: background .3s ease-out forwards
}

@-webkit-keyframes background {
    to {
        background-size: 100% 100%
    }
}

@-moz-keyframes background {
    to {
        background-size: 100% 100%
    }
}

@-ms-keyframes background {
.btn_primary2:hover to {
    background-size: 100% 100%
}
}

@keyframes background {
    to {
        background-size: 100% 100%
    }
}

.btn_big {
    min-width: 80px;
    height: 25px;
    font-size: 9px
}

.btn_modal {
    left: -21%
}

.btn_modal,
.btn_modal2 {
    position: absolute;
    top: 50%
}

.btn_modal2 {
    left: 13%
}

@media (min-width:480px) {
    .btn_big {
        min-width: calc(19.355vw + -12.90323px);
        height: calc(4.032vw + 5.64516px);
        font-size: calc(1.935vw + -.29032px)
    }
}

@media (min-width:1100px) {
    .btn_big {
        min-width: 200px;
        height: 50px;
        font-size: 21px
    }
}

.pagination {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
    margin-top: 15px
}

.pagination__item {
    border: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    height: 40px;
    padding: 0 10px;
    font-weight: 600;
    background-color: var(--secondary-color1);
    cursor: pointer;
    color: #fff;
    text-align: center;
    margin-right: 5px
}

.pagination__item:last-child {
    margin-right: 0!important
}

.pagination__item:hover {
    color: var(--accent-color)
}

.table {
    width: 60%;
    color: var(--secondary-color1);
    border-collapse: collapse
}

.table th {
    padding: 5px 10px;
    background-color: var(--secondary-color1)
}

.table td {
    padding: 5px 10px;
    border-bottom: 2px solid var(--secondary-color1);
    text-align: center
}

.table_primary th {
    color: var(--primary-color1);
    border-left: 1px solid var(--primary-color1)
}

.table_primary2 th {
    color: var(--primary-color2);
    border-left: 1px solid var(--primary-color2)
}

.table__number {
    width: 10%
}

.table__avatar-block {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px
}

.table__avatar-block__img {
    width: 100%
}

.form__control {
    height: 40px;
    padding: 5px 0 5px 10px;
    border: 1px solid #ebebeb;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.input_invalid {
    border: 1px solid var(--danger-color)
}

.fd_invalid {
    color: var(--danger-color);
    font-size: small
}

@media (max-width:650px) {
    .form__control {
        height: 32px
    }
}

.form__control_chat {
    border: 1px solid var(--primary-color2);
    outline: none
}

.form__group {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 15px
}

.form__group .form__control {
    width: 100%
}

.form__group_center {
    -webkit-align-items: center;
    align-items: center
}

.form_w50 {
    width: 85%
}

.form_w60 {
    width: 90%
}

@media (min-width:480px) {
    .form_w50 {
        width: calc(24.516vw + 156.32258px)
    }
    .form_w60 {
        width: calc(38.548vw + 232.96774px)
    }
}

@media (min-width:1100px) {
    .form_w50 {
        width: 50%
    }
    .form_w60 {
        width: 60%
    }
}

.list {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 10px;
    list-style: none;
    margin: 0
}

.list__item {
    width: 100%;
    margin-bottom: 8px
}

.list__item-row {
    width: 100%;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row
}

.list__item-row .list__item:not(:last-child) {
    margin-right: 8px!important
}

.msg-container {
    opacity: 0;
    transition: opacity .5s;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between
}

.msg-container>div:first-child {
    width: 85%
}

.msg-container>div:last-child {
    position: relative;
    width: 14%
}

.msg-container_receive>.msg-container__avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-color: #fff #fff transparent transparent;
    border-style: solid;
    border-width: 5px
}

.msg-container_sent>.msg-container__avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-color: transparent transparent #fff #fff;
    border-style: solid;
    border-width: 5px
}

.msg-container__avatar img {
    width: 90%;
    border-radius: 50px;
    overflow: hidden
}

.msg-container_sent .msg-container__messages__time {
    display: flex;
    justify-content: flex-end
}

.msg-container__messages {
    background: #fff;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    max-width: 100%;
    min-height: 60px;
    justify-content: space-between;
    display: flex;
    flex-direction: column
}

.msg-container__messages__text {
    margin-block-start: 6px;
    margin-block-end: 6px
}

.msg-container__messages__time {
    font-size: 11px;
    color: var(--primary-color2)
}

.msg-container_base {
    background: #e5e5e5;
    margin: 0;
    padding: 0 10px 10px;
    height: -webkit-fill-available;
    overflow-x: hidden
}

.msg-container_receive {
    flex-direction: row-reverse
}

.msg-container_sent {
    padding-bottom: 20px!important;
    margin-right: 0;
    align-items: flex-end
}

.panel {
    margin: 20px 0;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    flex-direction: column
}

.panel__body {
    padding: 15px
}

.panel__footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px
}

.panel__footer,
.panel__header {
    display: flex;
    padding: 10px 15px
}

.panel__header {
    font-size: 24px;
    align-items: center;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.panel_full-page {
    height: 91%;
    width: 60%
}

.panel_minimized {
    min-height: 400px;
    height: 40vh;
    width: 27%;
    min-width: 350px;
    position: fixed;
    z-index: 10
}

.panel_minimized .panel__header>div:first-child {
    display: flex;
    align-items: center
}

.panel_minimized .msg-container__messages {
    min-height: 50px
}

.panel_minimized .panel__header {
    justify-content: space-between
}

.panel_minimized-right {
    right: 20px;
    bottom: 0
}

.panel_minimized-left {
    left: 10px;
    bottom: 0
}

.panel_primary,
.panel_primary .panel__header {
    border-color: var(--primary-color2)
}

.panel_primary .panel__header {
    background-color: var(--primary-color2);
    color: #fff
}

.panel_shorted {
    min-height: 0;
    height: 53px
}

.panel_shorted .panel__body,
.panel_shorted .panel__footer {
    display: none
}

@font-face {
    font-family: Material Icons;
    font-style: normal;
    font-weight: 400;
    src: url(material-icons.woff2) format("woff2")
}

.material-icons {
    font-family: Material Icons, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: "liga";
    -o-font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    -moz-transition: color .2s;
    -o-transition: color .2s;
    -webkit-transition: color .2s;
    transition: color .2s
}

.material-icons.md-18 {
    font-size: 12px
}

.material-icons.md-24 {
    font-size: 16px
}

.material-icons.md-36 {
    font-size: 24px
}

.material-icons.md-48 {
    font-size: 30px
}

.material-icons.md-inherit,
.material-icons.md-inherit:hover {
    color: inherit
}

.material-icons.md-button {
    color: #0c5460
}

.material-icons.md-button:hover {
    color: #44a9ae
}

@media (min-width:480px) {
    .material-icons.md-18 {
        font-size: calc(.968vw + 7.35484px)
    }
    .material-icons.md-24 {
        font-size: calc(1.29vw + 9.80645px)
    }
    .material-icons.md-36 {
        font-size: calc(1.935vw + 14.70968px)
    }
    .material-icons.md-48 {
        font-size: calc(2.903vw + 16.06452px)
    }
}

@media (min-width:1100px) {
    .material-icons.md-18 {
        font-size: 18px
    }
    .material-icons.md-24 {
        font-size: 24px
    }
    .material-icons.md-36 {
        font-size: 36px
    }
    .material-icons.md-48 {
        font-size: 48px
    }
}

.overflow-hidden {
    overflow: hidden;
    z-index: 2
}

.overflow-y-scroll {
    overflow-y: scroll
}

.justify-content-left {
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.justify-content-right {
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.justify-content-center {
    -webkit-justify-content: center;
    justify-content: center
}

.justify-content-space-between {
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.justify-content-space-around {
    -webkit-justify-content: space-around;
    justify-content: space-around
}

.justify-content-space-center {
    -webkit-justify-content: center;
    justify-content: center
}

.align-items-start {
    -webkit-align-items: start;
    align-items: start
}

.align-items-end {
    -webkit-align-items: end;
    align-items: end
}

.align-items-flex-end {
    -webkit-align-items: flex-end;
    align-items: flex-end
}

.align-items-center {
    -webkit-align-items: center;
    align-items: center
}

.w3 {
    width: 3%
}

.w6 {
    width: 6%
}

.w10 {
    width: 10%
}

.w15 {
    width: 15%
}

.w20 {
    width: 20%
}

.w25 {
    width: 25%
}

.w50 {
    width: 50%
}

.w49 {
    width: 49.5%
}

.w70 {
    width: 70%
}

.w74 {
    width: 74%
}

.w75 {
    width: 75%
}

.w85 {
    width: 85%
}

.w90 {
    width: 90%
}

.w94 {
    width: 94%
}

.w97 {
    width: 97%
}

.w100 {
    width: 100%
}

.w3-vw {
    width: 3vw
}

.w6-vw {
    width: 6vw
}

.w10-vw {
    width: 10vw
}

.w20-vw {
    width: 20vw
}

.w30-vw {
    width: 30vw
}

.w40-vw {
    width: 40vw
}

.w50-vw {
    width: 50vw
}

.w60-vw {
    width: 60vw
}

.w70-vw {
    width: 70vw
}

.w75-vw {
    width: 75vw
}

.w85-vw {
    width: 85vw
}

.w90-vw {
    width: 90vw
}

.w94-vw {
    width: 94vw
}

.w97-vw {
    width: 97vw
}

.w100-vw {
    width: 100vw
}

@media (min-width:480px) {
    .w3 {
        width: calc(1.452vw + 17.03226px)!important
    }
    .w6 {
        width: calc(2.903vw + 34.06452px)!important
    }
    .w20 {
        width: calc(15.484vw + 49.67742px)!important
    }
    .w74 {
        width: calc(81.774vw + -85.51613px)!important
    }
    .w97 {
        width: calc(98.548vw + -17.03226px)!important
    }
}

.w3 {
    width: 5%
}

.w6 {
    width: 10%
}

.w20 {
    width: 26%
}

.w74 {
    width: 64%
}

.w97 {
    width: 95%
}

@media (max-width:650px) {
    .w49 {
        width: 100%
    }
    .developer:nth-child(2n) {
        flex-direction: row-reverse
    }
    #profile-score {
        width: 100%
    }
    #profile-score .list {
        flex-wrap: wrap;
        flex-direction: row
    }
    #profile-score .list .list__item {
        width: 33%
    }
}

.width-animation {
    transition: width .3s ease-in-out
}

.h10 {
    height: 10%
}

.h25 {
    height: 25%
}

.h50 {
    height: 50%
}

.h75 {
    height: 75%
}

.h100 {
    height: 100%
}

.title {
    display: flex;
    color: inherit;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    outline: none;
    margin: 0
}

@media (min-width:480px) {
    .title {
        font-size: calc(4.194vw + -1.12903px);
        margin: calc(1.613vw + -7.74194px) 5px
    }
}

@media (min-width:1100px) {
    .title {
        font-size: 45px;
        margin: 10px 5px
    }
}

.title_subtitle {
    font-weight: 400;
    font-size: 13px
}

.title_subtitle2 {
    width: 95%;
    font-weight: 400;
    margin-bottom: 1em;
    text-align: center
}

.title_subtitle:hover {
    border-bottom: 2px solid var(--secondary-color1)
}

.title_subtitle2:hover {
    border-bottom: none
}

@media (min-width:480px) {
    .title_subtitle {
        font-size: calc(1.613vw + 5.25806px)
    }
}

@media (min-width:1100px) {
    .title_subtitle {
        font-size: 23px
    }
}

.shadow-l {
    -moz-box-shadow: 0 0 20px hsla(0, 0%, 61.2%, .7);
    -o-box-shadow: 0 0 20px hsla(0, 0%, 61.2%, .7);
    -webkit-box-shadow: 0 0 20px hsla(0, 0%, 61.2%, .7);
    box-shadow: 0 0 20px hsla(0, 0%, 61.2%, .7)
}

.shadow-xl {
    -moz-box-shadow: 0 0 30px hsla(0, 0%, 61.2%, .7);
    -o-box-shadow: 0 0 30px hsla(0, 0%, 61.2%, .7);
    -webkit-box-shadow: 0 0 30px hsla(0, 0%, 61.2%, .7);
    box-shadow: 0 0 30px hsla(0, 0%, 61.2%, .7)
}

:root {
    --primary-color1: #f8f1b5;
    --primary-color2: #426e86;
    --secondary-color1: #011a27;
    --secondary-color2: #fff;
    --success-color: #058e3f;
    --danger-color: #931621;
    --accent-color: #e6af2e
}

.hidden {
    display: none
}

.anim-page-left-container {
    -moz-animation: page-left-play-container 1.07s ease-in-out;
    -o-animation: page-left-play-container 1.07s ease-in-out;
    -webkit-animation: page-left-play-container 1.07s ease-in-out;
    animation: page-left-play-container 1.07s ease-in-out
}

@-webkit-keyframes page-left-play-container {
    to {
        opacity: 0;
        width: 100%
    }
}

@-moz-keyframes page-left-play-container {
    to {
        opacity: 0;
        width: 100%
    }
}

@-ms-keyframes page-left-play-container {
    to {
        opacity: 0;
        width: 100%
    }
}

@keyframes page-left-play-container {
    to {
        opacity: 0;
        width: 100%
    }
}

.anim-page-right-container {
    -moz-animation: page-right-play-container 1.07s ease-in-out;
    -o-animation: page-right-play-container 1.07s ease-in-out;
    -webkit-animation: page-right-play-container 1.07s ease-in-out;
    animation: page-right-play-container 1.07s ease-in-out
}

@-webkit-keyframes page-right-play-container {
    to {
        opacity: 0;
        width: 0
    }
}

@-moz-keyframes page-right-play-container {
    to {
        opacity: 0;
        width: 0
    }
}

@-ms-keyframes page-right-play-container {
    to {
        opacity: 0;
        width: 0
    }
}

@keyframes page-right-play-container {
    to {
        opacity: 0;
        width: 0
    }
}

.anim-page-right {
    -moz-animation: page-right 1.07s ease-in-out;
    -o-animation: page-right 1.07s ease-in-out;
    -webkit-animation: page-right 1.07s ease-in-out;
    animation: page-right 1.07s ease-in-out
}

@-webkit-keyframes page-right {
    to {
        width: 6%
    }
}

@-moz-keyframes page-right {
    to {
        width: 6%
    }
}

@-ms-keyframes page-right {
    to {
        width: 6%
    }
}

@keyframes page-right {
    to {
        width: 6%
    }
}

.anim-page-left {
    -moz-animation: page-left 1.07s ease-in-out;
    -o-animation: page-left 1.07s ease-in-out;
    -webkit-animation: page-left 1.07s ease-in-out;
    animation: page-left 1.07s ease-in-out
}

@keyframes page-left {
    to {
        width: 97%
    }
}

.anim-page-left-play {
    background: linear-gradient(94deg, var(--primary-color1) 12.45%, var(--secondary-color2) 12.5%, var(--secondary-color2) 37.45%, var(--primary-color1) 37.5%, var(--primary-color1) 74.9%, var(--primary-color2) 75%);
    -ms-background-position-x: 100%;
    background-position-x: 100%;
    -moz-background-size: 200% 100%;
    -o-background-size: 200% 100%;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%;
    -moz-animation: page-left-play 1.07s ease-in-out;
    -o-animation: page-left-play 1.07s ease-in-out;
    -webkit-animation: page-left-play 1.07s ease-in-out;
    animation: page-left-play 1.07s ease-in-out
}

@-webkit-keyframes page-left-play {
    to {
        -ms-background-position-x: 0;
        background-position-x: 0
    }
}

@-moz-keyframes page-left-play {
    to {
        -ms-background-position-x: 0;
        background-position-x: 0
    }
}

@-ms-keyframes page-left-play {
    to {
        -ms-background-position-x: 0;
        background-position-x: 0
    }
}

@keyframes page-left-play {
    to {
        -ms-background-position-x: 0;
        background-position-x: 0
    }
}

.anim-page-right-play {
    background: linear-gradient(94deg, var(--primary-color1) 24.9%, var(--primary-color2) 25%, var(--primary-color2) 62.45%, var(--secondary-color2) 62.5%, var(--secondary-color2) 87.45%, var(--primary-color2) 87.5%);
    -ms-background-position-x: 0;
    background-position-x: 0;
    -moz-background-size: 200% 100%;
    -o-background-size: 200% 100%;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%
}

.anim-page-play-1,
.anim-page-right-play {
    -moz-animation: page-right-play 1.07s ease-in-out;
    -o-animation: page-right-play 1.07s ease-in-out;
    -webkit-animation: page-right-play 1.07s ease-in-out;
    animation: page-right-play 1.07s ease-in-out
}

.anim-page-play-1 {
    background: linear-gradient(94deg, var(--primary-color1) 12.45%, var(--secondary-color2) 12.5%, var(--secondary-color2) 37.45%, var(--primary-color1) 37.5%, var(--primary-color1) 74.9%, var(--primary-color2) 75%);
    -ms-background-position-x: 0;
    background-position-x: 0;
    -moz-background-size: 200% 100%;
    -o-background-size: 200% 100%;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%
}

.anim-page-play-2 {
    background: linear-gradient(94deg, var(--primary-color1) 24.9%, var(--primary-color2) 25%, var(--primary-color2) 62.45%, var(--secondary-color2) 62.5%, var(--secondary-color2) 87.45%, var(--primary-color2) 87.5%);
    -ms-background-position-x: 100%;
    background-position-x: 100%;
    -moz-background-size: 200% 100%;
    -o-background-size: 200% 100%;
    -webkit-background-size: 200% 100%;
    background-size: 200% 100%;
    -moz-animation: page-left-play 1.07s ease-in-out;
    -o-animation: page-left-play 1.07s ease-in-out;
    -webkit-animation: page-left-play 1.07s ease-in-out;
    animation: page-left-play 1.07s ease-in-out
}

@-webkit-keyframes page-right-play {
    to {
        -ms-background-position-x: 100%;
        background-position-x: 100%
    }
}

@-moz-keyframes page-right-play {
    to {
        -ms-background-position-x: 100%;
        background-position-x: 100%
    }
}

@-ms-keyframes page-right-play {
    to {
        -ms-background-position-x: 100%;
        background-position-x: 100%
    }
}

@keyframes page-right-play {
    to {
        -ms-background-position-x: 100%;
        background-position-x: 100%
    }
}

.anim-opacity {
    -moz-animation: page-opacity 1.07s ease-in-out;
    -o-animation: page-opacity 1.07s ease-in-out;
    -webkit-animation: page-opacity 1.07s ease-in-out;
    animation: page-opacity 1.07s ease-in-out
}

@-webkit-keyframes page-opacity {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-moz-keyframes page-opacity {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@-ms-keyframes page-opacity {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes page-opacity {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.anim-opacity-2 {
    -moz-animation: page-opacity-2 535ms ease-in-out;
    -o-animation: page-opacity-2 535ms ease-in-out;
    -webkit-animation: page-opacity-2 535ms ease-in-out;
    animation: page-opacity-2 535ms ease-in-out
}

@-webkit-keyframes page-opacity-2 {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes page-opacity-2 {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-ms-keyframes page-opacity-2 {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes page-opacity-2 {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.anim-width-to-0 {
    -moz-animation: width-to-0 1.07s ease-in-out;
    -o-animation: width-to-0 1.07s ease-in-out;
    -webkit-animation: width-to-0 1.07s ease-in-out;
    animation: width-to-0 1.07s ease-in-out
}

@-webkit-keyframes width-to-0 {
    to {
        width: 0
    }
}

@-moz-keyframes width-to-0 {
    to {
        width: 0
    }
}

@-ms-keyframes width-to-0 {
    to {
        width: 0
    }
}

@keyframes width-to-0 {
    to {
        width: 0
    }
}

.anim-width-to-20 {
    -moz-animation: width-to-20 1.07s ease-in-out;
    -o-animation: width-to-20 1.07s ease-in-out;
    -webkit-animation: width-to-20 1.07s ease-in-out;
    animation: width-to-20 1.07s ease-in-out
}

@-webkit-keyframes width-to-20 {
    to {
        width: 20%
    }
}

@-moz-keyframes width-to-20 {
    to {
        width: 20%
    }
}

@-ms-keyframes width-to-20 {
    to {
        width: 20%
    }
}

@keyframes width-to-20 {
    to {
        width: 20%
    }
}

.anim-width-to-50 {
    -moz-animation: width-to-50 1.07s ease-in-out;
    -o-animation: width-to-50 1.07s ease-in-out;
    -webkit-animation: width-to-50 1.07s ease-in-out;
    animation: width-to-50 1.07s ease-in-out
}

@-webkit-keyframes width-to-50 {
    to {
        width: 50%
    }
}

@-moz-keyframes width-to-50 {
    to {
        width: 50%
    }
}

@-ms-keyframes width-to-50 {
    to {
        width: 50%
    }
}

@keyframes width-to-50 {
    to {
        width: 50%
    }
}

.anim-width-to-74 {
    -moz-animation: width-to-74 1.07s ease-in-out;
    -o-animation: width-to-74 1.07s ease-in-out;
    -webkit-animation: width-to-74 1.07s ease-in-out;
    animation: width-to-74 1.07s ease-in-out
}

@-webkit-keyframes width-to-74 {
    to {
        width: 74%
    }
}

@-moz-keyframes width-to-74 {
    to {
        width: 74%
    }
}

@-ms-keyframes width-to-74 {
    to {
        width: 74%
    }
}

@keyframes width-to-74 {
    to {
        width: 74%
    }
}

.anim-jumping {
    animation: jumping .45s ease
}

.anim-coming {
    animation: coming 1s ease
}

@-webkit-keyframes jumping {
    to {
        transform: translateY(-15px)
    }
}

@-moz-keyframes jumping {
    to {
        transform: translateY(-15px)
    }
}

@-ms-keyframes jumping {
    to {
        transform: translateY(-15px)
    }
}

@keyframes jumping {
    to {
        transform: translateY(-15px)
    }
}

@-webkit-keyframes coming {
    0% {
        transform: translateX(600px)
    }
    to {
        transform: translateX(0)
    }
}

@-moz-keyframes coming {
    0% {
        transform: translateX(600px)
    }
    to {
        transform: translateX(0)
    }
}

@-ms-keyframes coming {
    0% {
        transform: translateX(600px)
    }
    to {
        transform: translateX(0)
    }
}

@keyframes coming {
    0% {
        transform: translateX(600px)
    }
    to {
        transform: translateX(0)
    }
}

body,
html {
    font-size: 13px;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

h1,
h3,
h5,
h6,
p {
    padding: 0;
    margin: 0
}

svg {
    fill: #fff
}

.pr-10px {
    padding-right: 10px
}

.pl-10px {
    padding-left: 10px
}

.md-20px {
    margin-bottom: 20px
}

.profile {
    padding: 20px;
    flex-wrap: wrap
}

.copyright {
    margin: 10px
}

.font-size_xl {
    cursor: pointer;
    font-size: 15px
}

::-webkit-scrollbar {
    width: 6px
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .3);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .4)
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1)
}

@media only screen and (orientation:portrait) {
    #turn {
        display: flex
    }
    #app {
        display: none
    }
}

@media only screen and (orientation:landscape) {
    #turn {
        display: none
    }
    #app {
        display: block
    }
}

#turn {
    background-color: var(--secondary-color2)
}

@media (min-width:480px) {
    body {
        font-size: calc(.484vw + 10.67742px)
    }
    .profile {
        padding: calc(4.839vw + -3.22581px)
    }
    .font-size_xl {
        font-size: calc(1.613vw + 7.25806px)
    }
}

@media (min-width:1100px) {
    body {
        font-size: 16px
    }
    .profile {
        padding: 40px 20px
    }
    .font-size_xl {
        font-size: 25px
    }
}
